<h1 class='text-center mt-5 mb-5'>Welcome to Zhang's Acupuncture</h1>

<div class="btn-group btn-auto d-flex">
  <%= link_to 'Make an appointment', about_path, class: 'btn btn-outline-dark btn-block' %>
  <%= link_to 'Update your information in the patient portal', about_path, class: 'btn btn-outline-dark btn-block' %>
  <%= link_to 'Create your sign-in account', signup_path, class: 'btn btn-outline-dark btn-block' %>
</div>